:root {
	--primary-color: rgb(0, 89, 148);
	--secondary-color: #044b74;
    --accent-color: #fffcc1;
    --accent-color-2: #01A7C2;
    --text-color: #333333;
    --background-color: #FFFFFF;
    --header-font: 'Verdana, Courier New', Courier, monospace;
    --body-font: Montserrat, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    background-color: var(--background-color)
}

header {
    padding: 10px 0;
    font-family: var(--header-font);
    display: grid;
    justify-content: center;
    align-items: center;
}

header span{
    background: var(--primary-color);
    width: 100%;
    margin: -10px 0px 0px;
    padding: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--background-color);
}

header nav {
    width: 100vw;
    background: var(--secondary-color);
    padding: 5px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 5px 70px 8px;                 /* padding inside menu bar */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

header nav a {
    color: #fff;
    text-decoration: none;
    /* font-family: var(--header-font); */
    padding: 6px 12px;
    font-weight: bold;
    font-size: 18px;
    transition: all ease-in-out 0.3s;

}

header nav a:hover {
    color: var(--accent-color);
    border: 0.5px solid var(--accent-color);
    border-width: 0px 0px 1px 0px;
    border-style: dotted;
}

header nav a:active {
    color: orange;
}

main {
    padding: 20px;
    margin: 0 40px;
}

.divider {
   display: flex;
   width: 100%;
   padding: 10px;
   gap: 20px;
   align-items: stretch;
 }
main section {
    border: 1px solid #b0adad;
    border-radius: 15px;
    border-collapse: collapse;
}
main h1 {
    text-align: center;
    margin: 15px 0px;
    font-size: 2rem;
    font-weight: bold;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
}

/* main section {
    flex: 1;
} */

.card1 {
    flex: 7;
    align-items: center;
    justify-content: center;
    /* width: 70%;
    margin: 0 auto; */
}

.card2 {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 30%;
    min-height: 100%; */
}

.card1 h2, .card2 h2 {
    text-align: center;
    background: var(--primary-color);
    border-radius: 15px 15px 0px 0px;
    padding: 8px;
    color: #fff;
    font-size: medium;
}

.about-me {
    padding: 5px;
    margin: 10px 5px;
}

.about-me p, .about-country p {
    text-align: justify;
    line-height: 1.4rem;
    padding: 10px;
}

.about-me img {
    float: right;
    margin: 0 0 10px 15px;
    max-width: 250px;
    border-radius: 15px;
    height: auto;
}

.about-me::after {
    content: "";
    display: block;
    clear: both;
}
.about-country{
    display: flex;
    padding: 10px;
}
.about-country figure img{
    margin: 20px 10px 5px;
    height: auto;
}
.about-country figure figcaption{
    text-align: center;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    margin: 0px 0px 15px;
}
.la {
    align-items: center;
}
.la h3 {
    margin: 5px 120px;
    font-size: 30px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

.card2 ul {
    list-style-type: square;
    padding: 10px 30px;
    line-height: 25px;
    margin-top: auto;
    margin-bottom: auto;
}

footer {
    background-color:var(--secondary-color);
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.last-modified {
    color: var(--accent-color);
    padding: 3px;
}