/* GLOBAL VARIABLES */
:root {
  --primary-color: #006d2c;
  --secondary-color: #ffffff;
  --accent-color: #000000;
  --accent-color-2: #a1d99b;
  --font-main: 'Roboto', sans-serif;
}

/* BASE STYLES */
body {
  font-family: var(--font-main);
  margin: 0;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 0;
  margin: 0;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 1rem;
}

.title {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
    margin: 0;
    font-size: 4rem;
}

.head-title {
    padding: 10px;
    background-color: var(--accent-color-2);
    margin: 0;
}

main {
  padding: 1rem;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero-box {
    display: block;
    position: relative;
}

.info {
    position: absolute;
    top: 20px;
}

.weather {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

section{
    background-color: var(--secondary-color);
    opacity: 0.8;
    margin: 10px 20px;
}

section h2 {
    position: relative;
    right: 15px;
    top: -5px;
    background-color: var(--primary-color);
    padding: 5px 7px;
    color: var(--secondary-color);
}

/* WEATHER */
.weather {
  padding-top: 1rem;
}

.weather-icon {
  width: 50px;
}

/* PSEUDO-ELEMENT for large view weather icon */
.weather h2::after {
  content: " ⛅";
  display: none;
}

.data-info {
    padding: 3px;
}

.data-info ul {
    list-style-type: none;
    padding: 0px 7px;
    margin: 0 5px;
    align-items: center;
    justify-items: center;

}
.data-info ul li {
    margin: 3px 0;
    text-align: left;
}

.label {
    font-weight: bold;
    text-align: right;
}

.weather-icon {
  display: block;
  margin: 0 auto;
}


/* MEDIA QUERY */
@media (min-width: 768px) {
  main {
    max-width: 1000px;
    margin: auto;
  }


  .weather-icon {
    display: none;
  }

  .weather h2::after {
    display: inline;
  }
}
@media (max-width: 576px) {
  .hero-box {
    position: static;
  }
  .info, .weather, h2 {
    justify-items: center;
    background-color: #fff !important;
    color: #000000 !important;
  }

    .info, .weather {
        position: static;
    }
}
